<h1>Listing courses</h1>

<% if session[:type] == "teacher" %>
<% @courses.each do |course| %>
  <%= course.name%><br>
    <% course.quizzes.each do |quiz| %>
    <ul>
    <li><%= link_to quiz.name, edit_quiz_path(quiz) %></li><br>
    </ul>
    <% end %>
  <% end %>
<%= button_to "Add New Course", new_course_path, :method => :get %>
<% end %>
<br>

<% if session[:type] =="student" %>
<% @courses.each do |course| %>
  <%= course.name %>
    <% course.quizzes.each do |quiz| %>
    <ul>
    <li><%= link_to quiz.name, quiz_path(quiz) %></li><br>
    </ul>
    <% end %>
  <% end %>
<% end %>
<br>

