<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>


<div>
	<h2>Current Quizzes</h2>
	<% @quizzes.each do |quiz|  %>
		<h3><%= link_to "#{quiz.name}", quiz_path(quiz.id) %></h3>
	<% end %>
</div>